<!-- Footer section -->
{% if page.permalink == '/' and site.clean_homepage %}
{% else %}
  <footer class=footer>
    <ul>
      <li><a href="{{ site.base }}/">Home</a></li>
      <li><a href="{{ site.base }}/contact/">Contact</a></li>
      <li><a href="{{ site.base }}/work/">Portfolio</a></li>
      <li><a href="{{ site.base }}/#social">Social</a></li>
      <li><a href="{{ site.base }}/blog/">Blog</a></li>
      <li><a href="{{ amsf_feed_url }}" title="Feed - Atom (The Atom Syndication Format)">Feed</a></li>
    </ul>
  </footer>
{% endif %}
