<!doctype html>
<head>
{% if site.force_utf_8 %}
  <meta charset=utf-8>
{% endif %}

<!-- Beautify Android -->
<meta name="theme-color" content="#b6e8f5">
<!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
<link rel="shortcut icon" href="favicon.ico">

<!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. --> 
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png">

<!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. -->
<link rel="icon" href="favicon.png">

<title>
  {{ amsf_page_title }}{{ amsf_site_title }}
</title>

<meta name=viewport content="width=device-width, initial-scale=1">

<!-- Define a description for better SEO result -->
<meta name=description content="{{ amsf_site_desc }}">

<link rel=alternate href="{{ amsf_feed_url }}" type=application/atom+xml>

<link rel=stylesheet href="{{ '/css/app.css' | prepend: site.assets | prepend: site.base }}">

<!-- Canonical links, avoid duplicate content problems -->
<link rel=canonical href="{{ amsf_page_url }}">

<!-- DNS prefetching for static files -->
{% if page.permalink == '/' %}<link rel=dns-prefetch href="{{ site.file }}">{% endif %}

<!-- browser-sync, don't remove this -->
<!-- BS_INSERT -->

<!-- Head hooks -->
{% if page.head %}
  {{ page.head }}
{% endif %}
</head>